#benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}

#benefits .benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 60vh;
}

#benefits .benefit h2 {
  font-size: 2rem;
  margin: 1rem;
}

#benefits .benefit a {
  margin: 2rem;
}

#benefits .benefit ul li {
  font-size: 1.4rem;
}

#benefits .benefit ul li:before {
  content: '✔';
  font-size: 3rem;
  color: lime;
}

#benefits .benefit:nth-child(1) {
  color: white;

  background-image:
    linear-gradient(
    rgba(117, 32, 185, .7),
    rgba(117, 32, 185, .7)
    ),
    url('/assets/sofa.jpeg');
  background-size: 150%;
  background-position: 100% 50%;
}

#benefits .benefit:nth-child(2) {
  color: #212121;

  background-image:
    linear-gradient(
    rgba(196, 23,128,.7),
    rgba(196, 23,128,.7)
    ),
    url('/assets/escritorio.jpg');
  background-size: 150%;
  background-position: 0% 50%;
}

@media screen and (max-width: 810px) {
  #benefits {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  #benefits .benefit {
    height: auto;
  }

  #benefits .benefit > * {
    margin: 1rem 2rem;
  }
}