.slider {
  background: pink;
  transition: transform ease-in-out 300ms;
	width: 300%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.slider .slider-item {
	width: 100%;
}

.slider-menu i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--pink);
	margin: 0 .5rem;
  cursor: pointer;
}

.slider-menu i.active {
  background-color: white;
  box-shadow: inset 0px 0px 0px 5px var(--pink);
}
